---
import { 
  GITHUB_LINK,
  SLACK_LINK,
  X_TWITTER_LINK,
  LINKEDIN_LINK,
  DEV_MAILING_LIST_LINK,
  RSS_LINK
} from "../consts";
---

<footer class="bg-neutral text-neutral-content p-10">
  <div class="footer max-w-7xl mx-auto">
    <aside>
      <p>
        &copy; Serverless Workflow Authors | 
        <a class="link" href="https://creativecommons.org/licenses/by/4.0" target="_blank" rel="noopener">CC BY 4.0</a> |
        <a class="link" href="https://www.linuxfoundation.org/legal/privacy-policy" target="_blank" rel="noopener">Privacy Policy</a>
      </p>
      <p>
        The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation,
        please see our <a class="link" href="https://www.linuxfoundation.org/legal/trademark-usage">Trademark Usage page</a>.
      </p>
    </aside>
    <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
      <a target="_blank" rel="noopener" href={GITHUB_LINK} aria-label="GitHub"><i class="fab fa-github"></i></a>
      <a target="_blank" rel="noopener" href={SLACK_LINK} aria-label="Slack"><i class="fab fa-slack"></i></a>
      <a target="_blank" rel="noopener" href={X_TWITTER_LINK} aria-label="X Social"><i class="fab fa-x-twitter"></i></a>
      <a target="_blank" rel="noopener" href={LINKEDIN_LINK} aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
      <a target="_blank" rel="noopener" href={DEV_MAILING_LIST_LINK} aria-label="Developer mailing list"><i class="fa fa-envelope"></i></a>
      <a target="_blank" rel="noopener" href={RSS_LINK} aria-label="RSS Feed"><i class="fa fa-rss"></i></a>
    </nav>
  </div>
</div>